<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naturemobility.seoul.mapper.CalculateManagementMapper">

    <select id="getStoreIdx" resultType="Long">
        SELECT storeIdx
        From Partner
        WHERE partnerIdx = #{partnerIdx}
    </select>

    <select id="getCalculateList" resultType="GetCalculateListRes">
        SELECT reservationIdx AS calculationIdx,
               reservePrice,
               discountPrice,
               payPrice,
               (CASE calculateStatus
                    WHEN 0 THEN '정산 미완료'
                    WHEN 1 THEN '정산 완료'
                    WHEN 2 THEN '정산 등록'
                   END)       AS calculateStatus,
               createdAt,
               paymentTime
        FROM Reservations
        WHERE paymentTime &gt;= #{startDay}
          AND paymentTime &lt;= #{endDay}
          AND storeIdx = #{storeIdx};
    </select>

    <select id="getStoreIdxByCalculationIdx" resultType="Long">
        SELECT storeIdx
        FROM Reservations
        WHERE reservationIdx = #{calculationIdx}
    </select>

    <update id="changeCalculateStatus">
        UPDATE Reservations
        SET calculateStatus = 2
        WHERE reservationIdx = #{calculationIdx}
    </update>
</mapper>