<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naturemobility.seoul.mapper.DashBoardMapper">

    <select id="getStoreIdx" resultType="Long">
        SELECT storeIdx
        From Partner
        WHERE partnerIdx = #{partnerIdx}
    </select>

    <select id="getTodayRes" resultType="GetTodayRes">
        SELECT (SELECT COUNT(reservationIdx)
                FROM Reservations
                WHERE DATE_FORMAT(reservationTime, '%Y-%m-%d') = CURDATE()
                  AND Reservations.storeIdx = #{storeIdx})                   AS reservationCount,
               (IFNULL(SUM(reservePrice), 0) - IFNULL(SUM(cancelAmount), 0)) AS todaySales
        FROM Reservations
                 INNER JOIN Payment ON Payment.merchantUid = Reservations.merchantUid
        WHERE DATE_FORMAT(Payment.createdAt, '%Y-%m-%d') = CURDATE()
          AND Reservations.storeIdx = #{storeIdx};
    </select>

    <select id="getMonthRes" resultType="GetMonthRes">
        SELECT (SELECT COUNT(reservationIdx)
                FROM Reservations
                WHERE DATE_FORMAT(reservationTime, '%Y-%m') = DATE_FORMAT(CURDATE(), '%Y-%m')
                  AND Reservations.storeIdx = #{storeIdx})                   AS monthReservatioCount,
               (IFNULL(SUM(reservePrice), 0) - IFNULL(SUM(cancelAmount), 0)) AS monthSales
        FROM Reservations
                 INNER JOIN Payment ON Payment.merchantUid = Reservations.merchantUid
        WHERE DATE_FORMAT(Payment.createdAt, '%Y-%m') = DATE_FORMAT(CURDATE(), '%Y-%m')
          AND Reservations.storeIdx = #{storeIdx};
    </select>

    <select id="getTodayRezList" resultType="GetRezListRes">
        SELECT DATE_FORMAT(reservationTime, '%H:%i') AS reservationTime,
               selectedHall,
               personCount,
               numberOfGame,
               useTime
        FROM Reservations
        WHERE DATE_FORMAT(reservationTime, '%Y-%m-%d') = CURDATE()
          AND storeIdx = #{storeIdx};
    </select>

    <select id="getCalendarList" resultType="GetCalendarRes">
        SELECT DISTINCT DATE_FORMAT(reservationTime, '%Y-%m-%d') AS date,
            (SELECT COUNT(reservationIdx) FROM Reservations WHERE DATE_FORMAT(reservationTime,'%Y-%m-%d') = date
            AND storeIdx = #{storeIdx}) AS count
        FROM Reservations
        WHERE DATE_FORMAT(reservationTime, '%Y-%m') = DATE_FORMAT(CURDATE(), '%Y-%m') AND storeIdx = #{storeIdx};
    </select>

    <select id="getSpecificRezList" resultType="GetRezListRes">
        SELECT DATE_FORMAT(reservationTime, '%H:%i') AS reservationTime,
               selectedHall,
               personCount,
               numberOfGame,
               useTime
        FROM Reservations
        WHERE DATE_FORMAT(reservationTime, '%Y-%m-%d') = #{reservationDay}
          AND storeIdx = #{storeIdx};
    </select>

    <select id="getMemoList" resultType="GetMemoRes">
        SELECT *
        FROM DashBoardMemo
        WHERE partnerIdx = #{partnerIdx}
    </select>

    <insert id="postMemo" parameterType="PostMemoInfo">
        INSERT INTO DashBoardMemo (memo, partnerIdx)
        VALUES (#{memo}, #{partnerIdx});
    </insert>

    <select id="getPartnerIdxByMemoIdx" resultType="Long">
        SELECT partnerIdx
        FROM DashBoardMemo
        WHERE memoIdx = #{memoIdx}
    </select>

    <delete id="deleteMemo">
        DELETE
        FROM DashBoardMemo
        WHERE memoIdx = #{memoIdx};
    </delete>

</mapper>