<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naturemobility.seoul.mapper.PartnerStoreMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="storeIdx" parameterType="StoreInfo">
        INSERT INTO Stores (storeName,
                            storeInfo,
                            storePhoneNumber,
                            storeBrand,
                            storeLocation,
                            storeLatitude,
                            storeLongitude,
                            storeImage,
                            storeTime,
                            batCount,
                            leftHandsatus,
                            parkingStatus,
                            groupSeatStatus,
                            floorScreenStatus,
                            storageStatus,
                            lessonStatus,
                            reserveStatus,
                            couponStatus)
        VALUES ( #{storeName},
                #{storeInfo},
                #{storePhoneNumber},
                #{storeBrand},
                #{storeLocation},
                #{storeLatitude},
                #{storeLongitude},
                #{storeImage},
                #{storeTime},
                #{batCount},
                #{leftHandsatus},
                #{parkingStatus},
                #{groupSeatStatus},
                #{floorScreenStatus},
                #{storageStatus},
                #{lessonStatus},
                #{reserveStatus},
                #{couponStatus})
    </insert>

    <update id="update" parameterType="StoreInfo">
        UPDATE Stores
        SET
            storeName=#{storeName},
            storeInfo=#{storeInfo},
            storePhoneNumber=#{storePhoneNumber},
            storeLocation=#{storeLocation},
            storeLatitude=#{storeLatitude},
            storeLongitude=#{storeLongitude},
            storeImage=#{storeImage},
            storeTime=#{storeTime},
            batCount=#{batCount},
            leftHandsatus=#{leftHandsatus},
            parkingStatus=#{parkingStatus},
            groupSeatStatus=#{groupSeatStatus},
            floorScreenStatus=#{floorScreenStatus},
            storageStatus= #{storageStatus},
            lessonStatus=#{lessonStatus},
            reserveStatus=#{reserveStatus},
            couponStatus=#{couponStatus})
        WHERE storeIdx=#{storeIdx}
    </update>

    <select id="findByStoreIdx" resultType="StoreInfo">
        SELECT *
        FROM Stores
        WHERE storeIdx=#{storeIdx}
    </select>
    
</mapper>