<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naturemobility.seoul.mapper.ReservationManagementMapper">

    <select id="getStoreIdx" resultType="Long">
        SELECT storeIdx
        From Partner
        WHERE partnerIdx = #{partnerIdx}
    </select>

    <select id="getRezList" resultType="GetRezListByManagementRes">
        SELECT reservationIdx,
               DATE_FORMAT(reservationTime, '%H:%i') AS reservationTime,
               endTime,
               selectedHall,
               personCount,
               numberOfGame,
               useTime,
               reservePrice,
               request
        FROM Reservations
        WHERE DATE_FORMAT(reservationTime, '%Y-%m-%d') = #{reservationDay}
          AND storeIdx = #{storeIdx};
    </select>

    <select id="getStoreIdxByRezIdx" resultType="Long">
        SELECT storeIdx
        FROM Reservations
        WHERE reservationIdx = #{reservationIdx}
    </select>

    <delete id="deleteRez">
        DELETE
        FROM Reservations
        WHERE reservationIdx = #{reservationIdx}
    </delete>

</mapper>