<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naturemobility.seoul.mapper.ReviewsMapper">
    <insert id="saveScore" useGeneratedKeys="true" keyProperty="reviewIdx" parameterType="ReviewInfo">
        INSERT INTO Reviews (reservationIdx, reviewScore, storeIdx, userIdx)
        VALUES (#{reservationIdx}, #{reviewScore}, #{storeIdx},#{userIdx})
        ON DUPLICATE KEY UPDATE
            reviewScore =#{reviewScore}
    </insert>
    <select id="getScore" resultType="Float">
        SELECT reviewScore
        FROM Reviews
        WHERE reservationIdx = #{reservationIdx}
    </select>
</mapper>